

/*Секция с карточками */
.card{
    background: linear-gradient(180deg,transparent 0,transparent 20%,#191a1e 0,#191a1e);
    color: white;
    margin-top: 8%;
    height: 500px;
    &__row{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        transform: translateY(-5%);
        width: 32%;
        position: relative;
        img{
            width: 100%;
        }
        &-block{
         padding: 10%;
            max-width: 70%;
            background: #1A1A1A;
            display: block;
            margin: 0 auto;
            transform: translateY(-20%);
        }
    }
    &__text-head{
        display: inline-block;
    
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        p{
    color: white;
        margin: 0;
            text-transform: uppercase;
            padding-top: 2%;
            padding-bottom: 2%;
            font-size: 1.82rem;
          font-weight: 500;
        }
    }
    &__button{
        margin-top: 2%;
       
    }
    }
    
    @media(max-width:999px){
       
        .card{
            height: 340px;
            &__text-head{
    
                p{
            color: white;
                margin: 0;
                    text-transform: uppercase;
                    padding-top: 2%;
                    padding-bottom: 2%;
                    font-size: 18px;
                  font-weight: 500;
                }
            }
            &__button{
                margin-top: 2%;
                transform: translateX(-12%);
                .black-btn{
                    min-width: 13rem;
                }
            }
        }
    }

    @media(max-width:768px){
           
        .card{
            background: linear-gradient(180deg,transparent 0,transparent 10%,#191a1e 0,#191a1e);
                margin-top: 8%;
            height: 100%;
            &__row{
                display: block;
                margin-left: 3%;
                margin-right: 8%;
               
            }
            &__item{
                transform: translateY(0%);
                width: 100%;
                display: block;
                position: relative;
                img{
                    width: 100%;
                }
                &-block{
                 padding: 10%;
                    max-width: 70%;
                    background: #1A1A1A;
                    display: block;
                    margin: 0 auto;
                    transform: translateY(-20%);
                }
            }
            &__text-head{
    
                p{
            color: white;
                margin: 0;
                    text-transform: uppercase;
                    padding-top: 2%;
                    padding-bottom: 2%;
                    font-size: 18px;
                  font-weight: 500;
                }
            }
            &__button{
                margin-top: 2%;
                margin-left:6.5%;
                transform: translateX(-12%);
                .black-btn{
                    min-width: 13rem;
                }
            }
        }
    }

    @media(max-width:567px){
        .card{
        
            &__row{
          
                margin-right: 6%;
               
            }
        }
    }