
$purple: #5653F3;


.header{
    display: flex;
    height: 3.7rem;
    &__name{
        h2{
            margin-top: 15px;
            font-size: 1.8rem;
            color: white;
            font-weight: 400;
            a{
                color: white;
                :hover{
                    color: #4CAF50;
                }
            }
        }
       
    }
    &__left{
        width: 20%;
        display: flex;
        align-items: center;
        background: $purple;
        justify-content: space-between;
        padding-left: 26px;
        padding-right: 26px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);

        img{
            width: 2.6rem;
        }
    }
    &__right{
        width: 80%;
        display: flex;
        justify-content: flex-end;
        background-color: white;
        padding-right: 24px;
        align-items: center;
        p{
            font-size: 1rem;
            padding-left: 19px;
            padding-right: 19px;
        }
      .user-image{
          width: 2.05rem;
      }
      .door-image{
          width: 1.6rem;
      }
    }
}