@import '../../index.scss';

.list{
    padding-left: 3.25rem;
    padding-right: 1.5rem;
    padding-top: 3.75rem;
    width: 100%;

    &__top{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .createNew{
            background-color: $purple;
            width: 7.7rem;
            height: 1.7rem;
            border: none;
            color: white;
            font-size: 0.9rem;
        }
        h2{
            font-size: 1.8rem;
            font-weight: 400;
        }
    }

    &__center{
        width: 100%;
        background: $white;
        height: 70vh;
        padding: 1.25rem;

        
        &-top{

            width: 100%;
            background: $grayBackground;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1.5rem;
            padding-top: 0.7rem;
            padding-bottom: 0.7rem;
            .trash{
                width: 10%;
            }
            .center__top-item{
                width: 20%;
            }
        }

        &-middle{
          
            padding: 1.5rem;
            padding-top: 0rem;
            padding-bottom: 0rem;
            .middle__item{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .trash{
                width: 10%;
            }
            .center__top-item{
                width: 20%;
                padding-top: 0.7rem;
                padding-bottom: 0.7rem;
            }
        }
    }
}