


/* Секция с картой */
.map{
    margin-top: 8%;
    &__social{
        font-weight: bold;
        a{
            color: #1a1a1a;
            text-decoration: none;
            &:hover{
                color: #1a1a1a;
            }
        }
        i{
            margin-top: 10%;
            margin-bottom: 10%;
        }
    }
    &__button{
        display: inline-block;
        
        .white-btn{
            margin-left: 9%;
        }

    }
        .map__row{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__graduate{
        padding-top: 10%;
        img,p{
            display: inline-block;
        }
        p{
            padding-left: 6%;
            transform: translateY(-30%);
        }
      
    }
    &__text{
        font-size: 18px;
        flex-basis: 550px;
        font-weight: 300;
        i{
            padding-right: 8%;
        }
    }
    .map__text{
        .map__text-head{
            display:block;
            border-top: 2px solid #1a1a1a;
            border-bottom: 2px solid #1a1a1a;

        
            p{
    
            margin: 0;
                text-transform: uppercase;
                padding-top: 2%;
                padding-bottom: 2%;
                font-size: 40px;
              font-weight: 500;
            }
        }
    }
}

@media(max-width: 1199px){
    .map{
        &__social{
            font-weight: bold;
            i{
                margin-top: 5%;
                margin-bottom: 5%;
            }
        }
        .map__row{
            display: block;
          
        }
      &__yandex{
        margin-top: 5%;
          iframe{
            min-width: 100%;
          }
      }
    }
}

@media(max-width: 768px){
    .map{
   margin-left: 3%;
      &__yandex{
          margin-top: 10%;
          iframe{
            min-width: 91%;

          }
      }
      &__text-head{
          width: 100%;
      }
      &__text{
        font-size: 14px;
        flex-basis: 550px;
        font-weight: 300;
  width: 90%;
        i{
            padding-right: 5%;
        }
    }
      &__graduate{
        padding-top: 20px;
        img,p{
            display: inline-block;
        }
        p{
            max-width: 70%;
      transform: translateY(0%);
            padding-left: 3%;
        }
      
    }
    }
}

@media(max-width: 567px){
    
    .map{
        .map__text .map__text-head p{
            font-size: 24px;
        }

      &__yandex{
          margin-top: 10%;
          iframe{
            max-width: 90%;
    
            height: 340px;

          }
      }
      &__button{
       
        
        .white-btn{
            margin-left: 0%;
            margin-top: 2%;
        }

    }
    }
}